* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.spacer0 {
  height: 10px;
}

.spacer1 {
  height: 50px; 
}

.spacer2 {
  height: 100px; 
}

 #img_title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
     border-radius: 60%; 
  } 

  #img_photo1, #img_photo2, #img_photo3{
    width: 100%;
    height: auto;
    border-radius: 0%;
  }

  .row{
    text-align: left;
  }


  #mytext p {
    font-size: 17px;
    padding-top: 10px;
    color: #8f8d8d;
    text-align: left
  }

    li{
        list-style:none;
    }

    base{
        position: relative;
    }

    header{
        position: relative;
        z-index: 40;
        overflow: hidden;/*Hide shadows except below*/
        
    }

  .main-nav-text {
    text-decoration: none;
    transition: filter .5s;
    }
  
    .main-nav-text:hover {
    filter: drop-shadow(0px 0px 5px
    rgba(243, 178, 38, 0.764));
      } 

  .nav-text {
    position:relative;
    text-decoration: none;
  }    
  .nav-text::after {
    background-color: #bb7a19;
    left:0;
    bottom: 0;
    content: "";
    height: 1px;
    position:absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s ease;
    width: 100%;
  }
  .nav-text:hover::after{
    transform: scaleX(1);
  }

  nav{
    width: 100%;
    padding: auto;
    background-color:rgba(144, 149, 153, 0.303) ;
    /*box-shadow: 0 0 8px gray;*/
    border-bottom: 3px solid #3b6225e1;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5)

  }
  .navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

form:hover .dropdown{
  display: block;
}


.dropdown{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40px;
  width: 100%;
  background-color: #ffff;
  overflow-y: scroll;
  border-radius: 5px;
}

.dropdown a:hover{
    background-color: #ffffff00;
    color: #ed9f1a;
    border-radius: 0%;
    width:100%;
    }

#mylist li{
  padding: 5px 0px;
	cursor: pointer;
	background-color: #ffff;
	height: 35px;
  width: 150px;
	color: #666;
  padding-left: 20px;
}

#mylist a{
    text-decoration: none;

}

  .leftdesign{
    position: absolute;
    z-index: 10;
    float: left;
    width: 40%;
    height:400px;
    padding: 0px;
    background-color: #fbe9bc;
    opacity: 0.5;
    
  }

  .rightdesign{
    position: absolute;
    z-index: 30;
    float: right;
    width: 60%;
    height: 20%;
    padding-left: 100px;
    opacity: 0.6;
  }

  .font_bolder {
    font-weight: bolder;
    color: slategrey;
    }

  .btn-custom {
    display: inline-flex;         
    justify-content: center;     
    align-items: center; 
    width: 100px;  
    height: 100px; 
    padding: 0;  
    margin-right: 10px;     
    border-radius: 5px;   
    background-color: #f0f0f0;   
  }
  
  .btn-custom img {
    max-width: 70%;                /* Ensure the image doesn't overflow the button */
    max-height: 70%;               /* Keep the image responsive inside the button */
  }
  
   /*   my name animation start */
.myname {
    position: relative;
    z-index: 20;
    padding-top: 80px;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    text-shadow: 3px 3px 3px #ababab;
    color: rgba(161, 98, 31, 0.973);
    text-align: center; /* Center text */
    white-space: nowrap; /* Prevent wrapping on larger screens */
}

.myname span {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.myname.-visible span {
    transform: translateY(0); /* Bring text down */
}

/* Add animation delays for each letter */
.myname span:nth-child(2) { transition-delay: 0.06s; }
.myname span:nth-child(3) { transition-delay: 0.12s; }
.myname span:nth-child(4) { transition-delay: 0.18s; }
.myname span:nth-child(5) { transition-delay: 0.24s; }
.myname span:nth-child(6) { transition-delay: 0.30s; }
.myname span:nth-child(7) { transition-delay: 0.36s; }
.myname span:nth-child(8) { transition-delay: 0.42s; }
.myname span:nth-child(9) { transition-delay: 0.48s; }
.myname span:nth-child(10) { transition-delay: 0.54s; }
.myname span:nth-child(11) { transition-delay: 0.60s; }


/* Media query to break into two lines on smaller screens */
@media (max-width: 576px) {
  .myname {
      white-space: normal; /* Allow wrapping */
  }

  /* Add a line break before and after the space character */
  .myname .space {
      display: block;
      width: 100%; /* Make sure the space takes up the full width */
      height: 20px; /* Optional: add some spacing between the lines */
  }
}

/*Parents container for leftdesign and photo*/
.design-container {
  position: relative; 
  width: 100%;
  height: auto;
}
/* my name animation end */

  .photo{
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    z-index: 30;
  }

 /*start Slidein Fadein animation for works and contact*/

 .anim-box {
  opacity: 0;
  transform: translateY(30px);
  /* Optionally set the transition time and other styles */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.anim-box.is-animated {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.photo-container img {
  max-width: 100%;
  height: auto;
  display: block !important;
  position: relative !important;
  z-index: 20 !important;
}


/*end Slidein Fadein animation for works and contact*/


  .contents{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
   /* height: 100px;*/
  }
  .contents1,.contents2{
    position: relative;
    z-index: 30;
  }

  .contact{
    font-weight: bolder;
  }


 #back_to_top{
 padding: 5px;
  flex: 50%;
  float: right;
 }

 #copyright{
  padding: 5px;
  flex: 50%;
  float: left;

 }

 #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */ 
}

#contact h2 {
  font-size: 24px;
  color: #333;
}


 .responsive-iframe {
  width:100%;
  height:100%;
 }

  #pool_contents2{
    background-image: url('images/art_background_2.png');

    background-position: center top;
  }

    /*Extra small devices phone*/
  
  @media only screen and (max-width: 600px){
    footer{
      height: 220px;
    }

    #footer_div{
      text-align: center;
    }
    #back_to_top,#copyright{
      flex: 100%;
      float: none;
    }

    #contact{
      padding: 10px;
    }
    #contact_leftdesign{
      height: 700px;
    }

    .contents2{
     margin: 0 ;
  }

    .contents1{
     text-shadow: 1px 5px 5px #fff;
     margin-bottom: 30px;
   }
}

  @media only screen and (min-width: 601px){
    footer{
      height: 180px;
    }

    .contents2{
      margin: 0 50px ;
   }

    .contents1{
      text-shadow: 1px 5px 5px #fff;
      margin-bottom: 120px;
   }

    }

  @media only screen and (min-width: 1200px){
    footer {
      width: 100% ;
      height: 200px;
      text-align: center;
      padding: 20px; 
      background-color:#ffff;
      bottom: 0;
  
      #back_to_top{
        float:right;
      }

     } 

     .contents2{
      margin: 0 50px ;
   }
    .contents1{
      text-shadow: 1px 5px 5px #fff;
      margin-bottom: 120px;
     }
    }  

    /*------------------- for Works------------------------------ */

    .inline-features {
      display: inline;
      color: slategrey;
      margin-right: 10px;
    }

    p {
      color: slategrey;
      font-size: 15px;
    }
    
    p.left {
      text-align: left; 
    }
    
    p.index{
      text-align: left;
      margin-left:auto;
      margin-right:auto;
      max-width: 500px; /*width -> max-width*/
    }
    
    ul{
       list-style: none;
    }
    
    ul li.add_line{
      color: rgba(161, 98, 31, 0.973);
      text-shadow: 3px 3px 3px #ababab;
      text-align: center;
      border-bottom:1px solid #047654
    }
    
    ul li.chatapp,
    ul li.fashion,
    ul li.school,
    ul li.analys,
    ul li.quiz,
    ul li.bibliotek,
    ul li.webshop,
    ul li.aka
     {
      /*text-align: left;*/ 
      font-size: 18px;
      padding-left: 0px;
      line-height: 3.5em;
      /* background: url(images/chattapp4.png)left 0px top 3px no-repeat;
      background-size: 128px auto; */
    }


    @media (max-width: 767px) {
      ul li.chatapp,
      ul li.fashion,
      ul li.school,
      ul li.analys,
      ul li.quiz,
      ul li.bibliotek,
      ul li.webshop,
      ul li.aka
       {
        background: none; /* Remove the background image */
        border-bottom: 1px solid purple; /* Add a line instead */
        padding-left: 0; /* Adjust padding if necessary */
      }
    }
    .video {
      display: inline-block;
      width: 100%; 
      height: auto; 
      max-width: 640px;
      margin-top: 15px;
    }

    .buttons{
      display: inline-block;/*Det är viktig*/
      margin-right: 15px;
      margin-bottom: 15px;
    }
  
    .thumbnail{
      display: inline-block;/*Det är viktig*/
      max-width: 360px;
      width: 100%;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }
    .thumbnail img{
      width: 100%;
      height: auto;
      border-radius: inherit;
      display: block;
      border: 0.5px solid gray
    }

    .thumbnail:focus, .thumbnail:active {
      outline: none;
    }
    
    /* h1 {
      color: #0e6aa3;
      font-size: 25px;
    }
     */
    /*
    div {
      background: #ffffff;
      width: 300px;
      padding: 20px;
      text-align: center;
      border: 1px solid #cccccc;
      margin: 0 auto;
    }
    */
    
    
  /*   .content_portfolio{
    background: #ffffff;
    max-height: 2500px;
    max-width: 800px; 
    padding: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 0 auto;
    } */
    .content_other{
    background: #ffffff;
    max-height: 600px;/*Det saknas i början och det var inte RWD */
    max-width: 800px; /*width -> max-width*/
    padding: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 0 auto;
    }
    

    
    
    .btn-square {
      position: relative;
      display: inline-block;
      padding: 0.3em 2em;
      text-decoration: none;
      color: cornsilk;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgb(245, 239, 239),0 2px 2px #c4baba;
      font-weight: bold;
    }

    .btn-orange {
      background: #e7be07;
      border-bottom: solid 2px #bb7a19; 
    }

    .btn-green{
      background: #5ad48f;
      border-bottom: solid 2px #0d6d18; 
    }
    
  /*email */
   .email-text{
    text-decoration: none;
    color:rgb(42, 40, 40);
    font-size: 36px;
    font-weight: 500;
    transition: letter-spacing .5s;
   } 
 
   @media (max-width: 1200px) {
    .email-text {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .email-text {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .email-text {
        font-size: 24px;
    }
}
   .email-text:hover{
    letter-spacing:0.1em
   }

  




